# (a) Python Dictionary Methods

## (1) clear()

In [1]:
#Removes all the elements from the dictionary.

In [2]:
mobile =	{
  "brand": "Samsung",
  "model": "Galaxy Note 2",
  "year": 2012
}

In [4]:
print(mobile)

{'brand': 'Samsung', 'model': 'Galaxy Note 2', 'year': 2012}

In [5]:
mobile.clear()

print(mobile)

{}

## (2) copy()

In [6]:
#Returns a copy of the dictionary.

In [9]:
train =	{
  "train_name": "Vande Bharat",
  "class": " EC",
  "seat_no": 24
}

In [10]:
print(train)

{'train_name': 'Vande Bharat', 'class': ' EC', 'seat_no': 24}

In [11]:
train.copy()

print(train)

{'train_name': 'Vande Bharat', 'class': ' EC', 'seat_no': 24}

## (3) fromkey()

In [14]:
#Returns a dictionary with the specified keys and value.

In [21]:
x = ('val1', 'val2', 'val3')
y = (1)

thisdict = dict.fromkeys(x, y)

In [22]:
print(thisdict)

{'val1': 1, 'val2': 1, 'val3': 1}

## (4) get()

In [23]:
#Returns the value of the specified key.

In [25]:
student = {
  "board": "CBSE",
  "subject": "Physics",
  "marks": 80
}

In [26]:
x = student.get("subject")

print(x)

Physics

## (5) items()

In [27]:
#Returns a list containing a tuple for each key value pair.

In [28]:
movie = {
  "title": "The Shawshank Redemption",
  "genre": "Thriller/Crime",
  "year": 1994
}

In [29]:
x1 = movie.items()

print(x1)

dict_items([('title', 'The Shawshank Redemption'), ('genre', 'Thriller/Crime'), ('year', 1994)])

## (6) keys()

In [30]:
#Returns a list containing the dictionary's keys.

In [33]:
songs = {
  "name": "Heart Attack",
  "genre": "electropop",
  "artist": "Demi Lovato"
}

In [34]:
x2 = songs.keys()

print(x2)

dict_keys(['name', 'genre', 'artist'])

## (7) pop()

In [35]:
#Removes the element with the specified key.

In [44]:
prime = {
  "series": "Panchayat",
  "season": 3,
  "release_year": 2024
}

In [47]:
prime.pop("season")

print(prime)

{'series': 'Panchayat', 'release_year': 2024}

## (8) popitem()

In [48]:
#Removes the "last inserted" key-value pair.

In [49]:
prime = {
  "series": "Panchayat",
  "season": 3,
  "release_year": 2024
}

In [50]:
prime.popitem()

print(prime)

{'series': 'Panchayat', 'season': 3}

## (9) setdefault()

In [58]:
#Returns the value of the specified key.
#If the key does not exist: insert the key, with the specified value.

#### example 1

In [53]:
space = {
  "agency": "ISRO",
  "established_in": 1969,
  "established_by": "India"
}

In [55]:
x_space = space.setdefault("agency")

print(x_space)

ISRO

#### example 2 (assigning new key : value pair)

In [59]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [60]:
x = car.setdefault("color", "White")

print(x)

White

In [61]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'White'}

## (10) update()

In [62]:
#Updates the dictionary with the specified key-value pairs.

In [63]:
space_2 = {
  "agency": "SpaceX",
  "established_in": 2002,
  "established_by": "Elon Musk"
}

In [64]:
space_2.update({"born": "South Africa"})

print(space_2)

{'agency': 'SpaceX', 'established_in': 2002, 'established_by': 'Elon Musk', 'born': 'South Africa'}

## (11) values()

In [65]:
#Returns a list of all the values in the dictionary.

In [66]:
wishes = {
  "val1": "Happy",
  "val2": "New Year",
  "val3": 2024
}

In [67]:
wishes_new = wishes.values()

print(wishes_new)

dict_values(['Happy', 'New Year', 2024])

# (b) Python Tuple Methods

## (1) count()

In [74]:
#Returns the number of times a specified value occurs in a tuple.

In [75]:
tuple1 = (245, 3, 245, 8, 77, 55, 78, 677, 4818, 548)

In [76]:
z1 = tuple1.count(245)

print(z1)

2

## (2) index()

In [77]:
#Searches the tuple for a specified value and returns the position of where it was found.

In [78]:
tuple2 = (101,202,303,404,505,606,707,808,909,1010)

In [81]:
z2 = tuple2.index(606)

print(z2)

5